  .home {
    .home-header {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 60vh;
      background-color: #00A591;
    
      .logo {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: -246px;
        padding-top: 516px;
        padding-left: 52px;
        border-radius: 160px;
        background: #ffffff;
        transform: rotate(20deg);
        height: 710px;
        width: 540px;
        z-index: 9;
    
        img {
          cursor: pointer;
          width: 100%;
          transform: rotate(-20deg);
        }
      }
    }
    .box-area {
      position: relative;
      display: flex;
      align-items: initial;
      max-width: 1280px;
      margin: 0 auto;

    }
    .box-portal {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 30vh;
      overflow: hidden;
      cursor: pointer;

      img {
        max-width: 80%;
        zoom: 1;
      }

      &:hover {
        img {
          zoom: 1.2;
        }
      }
    }
    .box-vivareal {
      background-color: rgba(17,144,205, 1);
      background-image: url("/img/bgVivaReal.jpg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .box-zapimoveis {
      background-color: rgb(255, 255, 255);
      background-image: url("/img/bgZapImoveis.jpg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    @media screen and (max-height: 780px) {
      .home-header {
        .logo {
          margin-top: -346px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .home-header {
        height: 50vh;
        .logo {
          zoom: .7
        }
      }
      .box-portal {
        height: 40vh;
      }
    }
    @media screen and (max-width: 500px) {
      .home-header {
        height: 30vh;
        .logo {
          zoom: .4
        }
      }
      .box-area {
        display: block;
        align-items: initial;
      }
      .box-portal {
        display: flex;
        width: 100%;
        height: 30vh;
      }
    }
  }
  .zap {
    .zap-slide {
      height: 60vh;
      border-radius: 0 !important;
    }
  }